#mainjumbo {
    background-image: url("./photos/harvardFlowers.jpg");
    margin-bottom: 0;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

h2 {
    font-family: 'Old Standard TT', serif;
}

p {
    font-family: 'Old Standard TT', serif;    
}

#music {
    font-family: 'Old Standard TT', serif;
}
